{{!< layout}} <div class="filters">
    <select name="jobTitle">
        <option value="">Select Job Title</option>
        {{#each jobTitles as |title|}}
        <option value="{{title}}">{{title}}</option>
        {{/each}}
    </select>

    <select name="jobRegion">
        <option value="">Select Region</option>
        {{#each jobRegions as |region|}}
        <option value="{{region}}">{{region}}</option>
        {{/each}}
    </select>

    <button class="btn simple-button" type="submit">Apply Filters</button>
    </div>

    <div class="cards">
        {{#each jobs as |job|}}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{job.image}}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{job.title}}</h5>
                        <p class="card-text">{{job.description}}</p>
                        <p class="card-text"><small class="text-muted">Last updated {{job.updated}}</small></p>
                        <button class="btn cards-button position-absolute bottom-0 end-0 mb-2">Apply</button>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>